/* Estilos do container */
.container {
    position: relative;
    width: 100vw;
    height: auto;
}

/* Estilos para os quadrados */
.quadrado_roxo {
    width: 100vw;
    height: 90px;
    background-color: purple;
}

.quadrado_amarelo {
    width: 100vw;
    height: 300px;
    background-color: #F6D200;
}

/* Estilos para a imagem sobreposta */
.imagem-sobreposta {
    position: absolute;
    top: 1px;
    left: 290px;
    transform: translateX(-50%);
    width: 490px;
    height: auto;
    z-index: 1;
}

/* Estilos para o texto sobreposto */
.mensagem-sobreposta {
    position: absolute;
    top: 120px; /* Ajuste a posição vertical conforme necessário */
    left: 1053px;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 160px;
    font-family: 'Inter', sans-serif; /* Define a fonte "Inter" */
    font-style: italic; /* Aplica o estilo itálico */
    color: #8f00c1; /* Define a cor para #8f00c1 */
    z-index: 2; /* Garante que o texto fique acima da imagem */
}


/* Estilos para o texto sobreposto */
.mensagem-sobrepostadegra {
    position: absolute;
    top: 110px; /* Ajuste a posição vertical conforme necessário */
    left: 1050px;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 160px;
    font-family: 'Inter', sans-serif; /* Define a fonte "Inter" */
    font-style: italic; /* Aplica o estilo itálico */
    color: rgb(255, 255, 255);
    z-index: 2; /* Garante que o texto fique acima da imagem */
}


/* Estilos para o menu */
.menu-container {
    background-color: purple;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100vw;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
}

.menu {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.menu ul {
    list-style-type: none;
    display: flex;
}

.menu li {
    text-decoration: none;
    color: #fff;
    background-color: #F6D200;
    padding: 20px 40px; /* Aumenta o espaçamento interno (padding) */
    margin: 0px 20px;
    border-radius: 35px; /* Deixa os botões com bordas mais arredondadas */
    display: inline-block;
    width: 300px; /* Aumenta a largura do botão */
    height: 80px; /* Aumenta a altura do botão */
    text-align: center;
    line-height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110px; /* Aumenta o tamanho da fonte */
}

.menu li:hover {
    background-color: #F6D200;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.8);
    text-decoration: none;
}

.menu a {
    text-decoration: none;
    color: #000;
    font-size: 60px; /* Ajusta o tamanho da fonte do texto dentro do botão */
}

.menu a:hover {
    text-decoration: underline;
}



/*Mensagem sobre nos*/

.quadrado-texto-amarelo {
    background-color: #F6D200;
    color: black; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
    margin: 20px auto; /* Margem para centralizar o quadrado horizontalmente */
    width: 80%; /* Largura do quadrado */
    border-radius: 30px; /* Bordas arredondadas */
    font-family: Arial, Helvetica, sans-serif; /* Fonte do texto */
    font-size: 50px; /* Tamanho da fonte */
    font-weight: bold;
    line-height: 1.6; /* Espaçamento entre as linhas */
    text-align: justify; /* Alinha o texto uniformemente */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Adiciona uma leve sombra ao quadrado */
}
